li {
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;  
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(193, 79, 79, 0.897);
}

body {
    height: 50vh;
    widows: 50vw;
    font-family: 'Lato','Helvetica','sans-serif';
    background-color: lightgray;
}

h2, p, {
    text-align: center;
    text-decoration: none
}

.readme-wrapper{
    text-align: center;
}

a:hover {
    color: red;
    font-weight: bold;
}

.boxes {
    margin: auto;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    display: block;
    width: 20%;
}

span {
    font-weight: bold;
    color: red;
}

#box1, #box2, #boxN, #boxO {
    background-color: beige;
}

