li {
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;  
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(193, 79, 79, 0.897);
}

body {
    background-image: url(./Me.JPG);
    height: 50vh;
    widows: 50vw;
}
