li {
    display: block;
    float: left;
    text-align: center;
    margin-right: 10px;  
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(193, 79, 79, 0.897);
}

body {
    height: 50vh;
    widows: 50vw;
    font-family: 'Lato','Helvetica','sans-serif';
    background-color: lightgray;
}

h2, p, {
    text-align: center;
    text-decoration: none;
}

.readme-wrapper{
    text-align: center;
}

a:hover {
    color: red;
    font-weight: bold;
}

.boxes {
    margin: auto;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    display: block;
    width: 20%;
}

span {
    font-weight: bold;
    color: red;
}

#box1, #box2, #boxN, #boxO {
    background-color: beige;
}

.pic-image {
background-color: rgba(30, 158, 243, 0.897);
width: auto;
height: auto;
display: inline;
float: left;
}

.maroon-text {
    color: maroon;
}

.green-text {
    color: darkgreen;
}

#show1 {
    color: darkblue;
    font-weight: bolder;
    text-decoration: underline;
}

#show2 {
    color: darkmagenta;
    font-weight: bold;
    text-decoration: underline;
}

#show3 {
    color: darkgreen;
    font-weight: inherit;
    text-decoration: underline;
}

#show4 {
    color: darkorange;
    font-weight: bold;
    text-decoration: underline;
}

#show5 {
    color: darkred;
    text-decoration: underline;
}

.list-style1,.list-style2,.list-style3 {
    color: black;
    text-align: left;
    clear: left;
}

.background-list {
    background-color: lightgrey; 
}

.border-type {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}